<div class="container pt-3">
  <h1>New Game</h1>
  <div class="d-flex justify-content-between">
    <% @letters.each do |letter| %>
      <div class="bg-primary fs-2 text-white letter-box"><%= letter %></div>
    <% end %>
  </div>
  <form method="post" action="/score" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <label for="guess" class="form-label">What is the longest word you can find?</label>
  <div class="d-flex border border-dark rounded">
    <input type="text" id="guess" name="guess" class="form-control border-0">
    <input type="submit" value="Play" class="btn btn-white border border-start border-dark">
  </div>
  </form>
</div>
